extends layout

block content
  if posts
    each post, i in posts
      .post
        h1
          a(href='/posts/show/#{post._id}')
            =post.title
        p.meta Posted in&#32;
          a(href='/categories/show/#{post.category}') #{post.category}
          &#32;by #{post.author}
          on #{moment(post.date).format("MM-DD-YYYY")}
        img(src='/uploads/#{post.mainimage}', class='img-responsive')
        !=truncateText(post.body,400)
        p ID: #{post._id}
        a.more(href='/posts/show/#{post._id}') Read More